{% extends 'base.html' %}
{% load static %}
{% block title %}PPC - Contact{% endblock %}

{% block content %}

    <!-- Body content starts here -->
    <section id="page-breadcrumb">
		   <div class="container">
		     <div class="row">
		       <div class="col-md-12">
		         <div class="page-breadcrumb-area">
		           <h2>Contact Us</h2>
		           <ol class="breadcrumb">
		            <li><a href="{% url 'home' %}">Home</a></li>            
		            <li class="active">Contact Us</li>
		          </ol>
		         </div>
		       </div>
		     </div>
		   </div>
		 </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ser-fet">
                <h3 class="br2">
                    Core Team</h3>
                <hr />
            </div>
        </div>
    </div>
    <div class="container contact-profile-section">
    <div class="row">


            
            <div class="col-xs-12 col-md-offset-2 col-sm-8 col-md-8">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="{% static 'assets/img/team/Miniter-Health-Prof-Javed-Akram.jpg'%}" title="Prof. Dr. Javed Akram"
                                class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4 class="br">
                                Prof. Dr. Javed Akram</h4>
                            <small><cite title="Minister, Specialized Healthcare & Medical Education Department">
                                Minister, Specialized Healthcare & Medical
                                Education Department </cite></small>
                            <br />
                            <p>
                                <p class="text-justify">Professor Javed Akram has been appointed as Punjab Health Minister in the Supervisory Cabinet of Punjab. Professor Javed Akram has extensive experience in the field of health. Professor Javed Akram has served as vice chancellors in two medical universities. Professor Javed Akram has been posted at Benazir Bhutto Medical University Islamabad and the University of Health Sciences for four years. Principal Allama Iqbal Medical College seat has fulfilled the administrative responsibility. Professor Javed Akram is a Professor of Medicine who has also served as a Professor of Medicine at Mayo and Jinnah Hospitals.</p>
                                <br />
                                
                                <!-- <i class="glyphicon glyphicon-gift"></i>June 02, 1988 -->
                            </p>
                            <!-- Split button -->
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="{% static 'assets/img/team/Mr-Ali-Jan-Khan.jpg' %}" title="Mr. Ali Jan Khan" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4 class="br">
                                Mr. Ali Jan Khan (PAS)</h4>
                            <small><cite title="Secretary, Specialized Healthcare & Medical Education Department">
                                Secretary, Specialized Healthcare & Medical Education Department </cite></small>
                            <br />
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i><a class="text-justify" href="mailto:secy.tertiaryhealth@punjab.gov.pk">
                                    secy.tertiaryhealth@punjab.gov.pk</a>
                                <br />
                                <i class="glyphicon glyphicon-phone-alt"></i>+92 42 99206262
                                <br />
                                <!--  <i class="glyphicon glyphicon-gift"></i>June 02, 1988 -->
                            </p>
                            <!-- Split button -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="{% static 'assets/img/team/Hafiz-Shahid-Latif.jpg' %}" title="Additional Secretary (Technical)"
                                class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4 class="br">
                                Dr. Hafiz Shahid Latif (AP)</h4>
                            <small><cite title="Special Secretary (Operations), Specialized Healthcare & Medical Education Department">
                                Additional Secretary (Technical)</cite></small>
                            <br />
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i><a href="mailto:asthealth@punjab.gov.pk">
                                    asthealth@punjab.gov.pk</a>
                                <br />
                                <i class="glyphicon glyphicon-phone-alt"></i>+92 42 99206230
                                <br />
                                <!-- <i class="glyphicon glyphicon-gift"></i>June 02, 1988 -->
                            </p>
                            <!-- Split button -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="{% static 'assets/img/team/vice-president.jpg' %}" title="Mr. Shoaib Hakeem" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4 class="br">
                               Mr. Shoaib Hakeem
                            </h4>
                            <small><cite title="Special Secretary (Development & Reforms), Specialized Healthcare & Medical Education Department">
                                Vice President Punjab Pharmacy Council </cite></small>
                            <br />
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i><a href="mailto:sspdf.health@punjab.gov.pk">
                                    sspdf.health@punjab.gov.pk</a>
                                <br />
                                <i class="glyphicon glyphicon-phone-alt"></i>+92 42 99211968
                                <br />
                                <!-- <i class="glyphicon glyphicon-gift"></i>June 02, 1988 -->
                            </p>
                            <!-- Split button -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="{% static 'assets/img/team/PPC-Secretary.jpg' %}" title="Dr. Zaka-ur-Rehman Ph.D, L.L.B" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4 class="br">
                                Dr. Zaka-ur-Rehman Ph.D, L.L.B
                            </h4>
                            <small><cite title="Secretary Punjab Pharmacy Council">
                                Secretary Punjab Pharmacy Council
                            </cite></small>
                            <br />
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i><a href="mailto:punjabpharmacycouncil@hotmail.com">
                                    punjabpharmacycouncil@hotmail.com</a>
                                <br />
                                <i class="glyphicon glyphicon-phone-alt"></i>+92 42 99260298
                                <br />
                                <!-- <i class="glyphicon glyphicon-gift"></i>June 02, 1988 -->
                            </p>
                            <!-- Split button -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{% static 'assets/img/team/notavailibleImage.jpg' %}" title="Registrar" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4 class="br">
                            Registrar
                        </h4>
                        <small><cite title="Registrar Punjab Pharmacy Council">
                            Registrar Punjab Pharmacy Council
                        </cite></small>
                        <br />
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i><a href="mailto:punjabpharmacycouncil@hotmail.com">
                                punjabpharmacycouncil@hotmail.com</a>
                            <br />
                            <i class="glyphicon glyphicon-phone-alt"></i>+92 42 99260298
                            <br />
                            <!-- <i class="glyphicon glyphicon-gift"></i>June 02, 1988 -->
                        </p>
                        <!-- Split button -->
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% comment %} <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="{% static 'assets/img/team/Ashfaq-Ur-Rehman.jpg' %}" title="Mr. Ashfaq Ur Rehman" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4 class="br">Mr. Ashfaq Ur Rehman (PMS)</h4>
                            <small><cite title="Additional Secretary (Establishment)">Additional Secretary (Establishment),
                                Specialized Healthcare & Medical Education Department </cite></small>
                            <br />
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i><a href="mailto:asstaffhealth@punjab.gov.pk">
                                    asstaffhealth@punjab.gov.pk</a>
                                <br />
                                <i class="glyphicon glyphicon-phone-alt"></i>+92 42 99206267
                                <br />
                                <!-- <i class="glyphicon glyphicon-gift"></i>June 02, 1988 -->
                            </p>
                            <!-- Split button -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="{% static 'assets/img/team/Agha-Nabeel-Akhtar-AS-Development.jpg' %}" title="Mr. Agha Nabeel Akhtar" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4 class="br">
                                Mr. Agha Nabeel Akhtar (PAS)</h4>
                            <small><cite title="Additional Secretary (Development), Specialized Healthcare & Medical Education Department ">
                                Additional Secretary (Development), Specialized Healthcare & Medical Education Department
                            </cite></small>
                            <br />
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i><a href="mailto:asdhealth@punjab.gov.pk">
                                    asdhealth@punjab.gov.pk</a>
                                <br />
                                <i class="glyphicon glyphicon-phone-alt"></i>+92 42 99206237
                                <br />
                                <!-- <i class="glyphicon glyphicon-gift"></i>June 02, 1988 -->
                            </p>
                            <!-- Split button -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="{% static 'assets/img/team/notavailibleImage.jpg' %}" title="Ms. Shahida Farrukh Naveed" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4 class="br">
                                Ms. Shahida Farrukh Naveed (PMS)</h4>
                            <small><cite title="Additional Secretary (Finance), Specialized Healthcare & Medical Education Department ">
                                Additional Secretary (Finance), Specialized Healthcare & Medical Education Department
                            </cite></small>
                            <br />
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i><a href="mailto:asdhealth@punjab.gov.pk">
                                    asdhealth@punjab.gov.pk</a>
                                <br />
                                <i class="glyphicon glyphicon-phone-alt"></i>+92 42 99206228
                                <br />
                                <!-- <i class="glyphicon glyphicon-gift"></i>June 02, 1988 -->
                            </p>
                            <!-- Split button -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="{% static 'assets/img/team/Hafiz-Shahid-Latif.jpg' %}" title="Dr. Hafiz Shahid Latif" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4 class="br">
                               Dr. Hafiz Shahid Latif (AP)
                            </h4>
                            <small><cite title="Additional Secretary Technical, Specialized Healthcare & Medical Education Department">
                                Additional Secretary (Technical), Specialized Healthcare & Medical Education Department
                            </cite></small>
                            <br />
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i><a href="mailto:asthealth@punjab.gov.pk">
                                    asthealth@punjab.gov.pk</a>
                                <br />
                                <i class="glyphicon glyphicon-phone-alt"></i>+92 42 99206230
                                <br />
                                <!-- <i class="glyphicon glyphicon-gift"></i>June 02, 1988 -->
                            </p>
                            <!-- Split button -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="{% static 'assets/img/team/Tariq-Ali-Basra.jpg' %}" title="Mr. Tariq Ali Basra" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4 class="br">Mr. Tariq Ali Basra (PMS)</h4>
                            <small><cite title="Additional Secretary (Procurement)">Additional Secretary (Procurement),
                                Specialized Healthcare & Medical Education Department </cite></small>
                            <br />
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i><a href="mailto:asphealth@punjab.gov.pk">
                                    asphealth@punjab.gov.pk</a>
                                <br />
                                <i class="glyphicon glyphicon-phone-alt"></i>+92 42 99206240
                                <br />
                                <!-- <i class="glyphicon glyphicon-gift"></i>June 02, 1988 -->
                            </p>
                            <!-- Split button -->
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="{% static 'assets/img/team/Dr-Hafiz-Muhammad-Waseem.jpg' %}" title="Dr. Hafiz Muhammad Waseem" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4 class="br">Dr. Hafiz Muhammad Waseem (AP)</h4>
                            <small><cite title="Additional Secretary (Medical Education)">Additional Secretary (Medical Education),
                                Specialized Healthcare & Medical Education Department </cite></small>
                            <br />
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i><a href="mailto:Asmehealth@punjab.gov.pk">
                                    Asmehealth@punjab.gov.pk</a>
                                <br />
                                <i class="glyphicon glyphicon-phone-alt"></i>+92 42 99206239
                                <br />
                                <!-- <i class="glyphicon glyphicon-gift"></i>June 02, 1988 -->
                            </p>
                            <!-- Split button -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- Body content ends here -->
    {% endblock %}
