{% extends 'base.html' %}
{% load static %}
{% block title %}PPC - FAQs{% endblock %}

{% block content %} 
<!-- Body content starts here -->
    <section id="page-breadcrumb">
		   <div class="container">
		     <div class="row">
		       <div class="col-md-12">
		         <div class="page-breadcrumb-area">
		           <h2>FAQs</h2>
		           <ol class="breadcrumb">
		            <li><a href="{% url 'home' %}">Home</a></li>            
		            <li><a href="{% url 'about' %}">About Us</a></li> 
                    <li class="active">FAQs</li>
		          </ol>
		         </div>
		       </div>
		     </div>
		   </div>
		 </section>

          <div class="container set-min-height">
            <div class="row">
                <div class="col-md-12 ser-fet">
                    <h3 class="br2">
                        FAQs</h3>
                    <hr>
                    <h1>Page Under Construction.</h1>
                    <div class="br2"></div>

                </div>
            </div>
        </div>
        {% endblock %}
    