{% extends 'base.html' %}
{% load static %}
{% block title %}PPC - GSC{% endblock %}

{% block content %}
    
<!-- Body content starts here -->
    <section id="page-breadcrumb">
		   <div class="container">
		     <div class="row">
		       <div class="col-md-12">
		         <div class="page-breadcrumb-area">
		           <h2>Good Standing Certificate</h2>
		           <ol class="breadcrumb">
		            <li><a href="{% url 'home' %}">Home</a></li>             
                    <li class="active">GSC</li>
		          </ol>
		         </div>
		       </div>
		     </div>
		   </div>
		 </section>
        <div class="container set-min-height">
            <div class="row">
                <div class="col-md-12 ser-fet">
                    <h3 class="br2">
                        Good Standing Certificate</h3>
                    <hr>

                    <div class="text-justify">
                      Following documents must be submitted / attached with the application form:
                      <div class="br2"></div>
                      1. Two (2) colored photocopies of Registration Certificate Copy (A or B).
<br>
2. Two (2) colored photocopies of VISA or application of foreign exams.
<br>
3. Two (2) colored photocopies of passport.
<br>
4. Two (2) colored photocopies of CNIC.
<br>
5. Hand written application with Registration No. Current Address, purpose for issuance of Good Standing Certificate along with required authority address.
<br>
6. Authority letter in case the applicant is living abroad.
<br>
7. Pay Order / Demand Draft Registration Fee in the name of Secretary, Punjab Pharmacy Council of Rs. 1000/- for each case .
<br>
8. Valid Renewal Status of the Registration certificate.
<br>
9. In case of living abroad the above required Scanned Data  along with request shall be sent on the email address of Punjab Pharmacy Council i.e. 
<br>
(punjabpharmacycouncil@hotmail.com)
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}