{% extends 'base.html' %}
{% load static %}
{% block title %}PPC - Colleges{% endblock %}

{% block content %}
    
<!-- Body content starts here -->
    <section id="page-breadcrumb">
		   <div class="container">
		     <div class="row">
		       <div class="col-md-12">
		         <div class="page-breadcrumb-area">
		           <h2>Medical Colleges</h2>
		           <ol class="breadcrumb">
		            <li><a href="{% url 'home' %}">Home</a></li>            
                    <li class="active">Pharmacy Technician / Colleges</li>
		          </ol>
		         </div>
		       </div>
		     </div>
		   </div>
		 </section>
        <div class="container set-min-height">
            <div class="row">
                <div class="col-md-12 ser-fet">
                    <h3 class="br2">
                      Technician / Colleges List</h3>
                    <hr>

                   <div class="table-responsive">
                      <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                              <th class="text-center">Sr.No</th>
                              <th>Health Facility Name</th>
                              <th>District</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row" class="text-center">1</th>
                              <td><a href="https://www.qamc.edu.pk/" target="_blank">Quaid-e-Azam Medical College, Bahawalpur City, Bahawalpur</a></td>
                              <td>
                                  Bahawalpur
                              </td>
                            </tr>
                            <tr>
                              <th scope="row" class="text-center">2</th>
                              <td><a href="javascript:void(0)" target="_blank">D.G Khan Medical College, Dera Ghazi Khan</a></td>
                              <td>Dera Ghazi Khan</td>
                            </tr>
                             <tr>
                              <th scope="row" class="text-center">3</th>
                              <td>Punjab Medical College, Faisalabad</td>
                              <td>Faisalabad</td>
                            </tr>
                            <tr>
                              <th scope="row" class="text-center">4</th>
                              <td><a href="javascript:void(0)">Gujranwala Medical College, Gujranwala, Gujranwala</a></td>
                              <td>Gujranwala</td>
                            </tr>
                             <tr>
                              <th scope="row" class="text-center">5</th>
                              <td><a href="javascript:void(0)">Nawaz Sharif Medical College, Gujrat</a></td>
                              <td>Gujrat</td>
                            </tr>
                             <tr>
                              <th scope="row" class="text-center">6</th>
                              <td><a href="http://www.sims.edu.pk/" target="_blank">Services Institute of Medical Sciences, Lahore City, Lahore</a></td>
                              <td>Lahore</td>
                            </tr>
                            <tr>
                              <th scope="row" class="text-center">7</th>
                              <td><a href="https://aimc.edu.pk/" target="_blank">Allama Iqbal Medical College, Lahore City, Lahore</a></td>
                              <td>Lahore</td>
                            </tr>
                            <tr>
                              <th scope="row" class="text-center">8</th>
                              <td><a href="http://pdh.punjab.gov.pk/" target="_blank">De-Montmorency College of Dentistry, Lahore City, Lahore</a></td>
                              <td>Lahore</td>
                            </tr>
                            <tr>
                              <th scope="row" class="text-center">9</th>
                              <td><a href="http://www.pgmipunjab.edu.pk/" target="_blank">Ameer Ud Din Medical College, Lahore City, Lahore</a></td>
                              <td>Lahore</td>
                            </tr>
                            <tr>
                              <th scope="row" class="text-center">10</th>
                              <td><a href="http://www.pgmipunjab.edu.pk/" target="_blank">Postgraduate Medical Institute, Lahore City, Lahore</a></td>
                              <td>Lahore</td>
                            </tr>
                            <tr>
                              <th scope="row" class="text-center">11</th>
                              <td>Punjab Thalassaemia and other Genetic Disorders Prevention and Research Institute attached with FJMU Lahore</td>
                              <td>Lahore</td>
                            </tr>
                             <tr>
                              <th scope="row" class="text-center">12</th>
                              <td><a href="https://www.coavs.edu.pk/" target="_blank">College of Ophthalmology and Allied Vision Sciences, Lahore City, Lahore</a></td>
                              <td>Lahore</td>
                            </tr>
                            <tr>
                              <th scope="row" class="text-center">13</th>
                              <td><a href="https://ibts.punjab.gov.pk/" target="_blank">Institute of Blood Transfusion Service Punjab, Lahore</a></td>
                              <td>Lahore</td>
                            </tr>
                            <tr>
                              <th scope="row" class="text-center">14</th>
                              <td>Nishtar Medical College, Multan</td>
                              <td>Multan</td>
                            </tr>
                            <tr>
                              <th scope="row" class="text-center">15</th>
                              <td><a href="javascript:void(0)">Nishtar Institute of Dentistry, Dental College, Multan Sadar, Multan</a></td>
                              <td>Multan</td>
                            </tr>
                             <tr>
                              <th scope="row" class="text-center">16</th>
                              <td>Rawalpindi Medical College, Rawalpindi</td>
                              <td>Rawalpindi</td>
                            </tr>
                            <tr>
                              <th scope="row" class="text-center">17</th>
                              <td><a href="http://www.szmc.edu.pk/" target="_blank">Sheikh Zayed Medical College, Rahim Yar Khan</a></td>
                              <td>Rahim Yar Khan</td>
                            </tr>
                            <tr>
                              <th scope="row" class="text-center">18</th>
                              <td><a href="https://sahiwal-medical-college-sahiwal-medical-school.business.site/" target="_blank">Sahiwal Medical College, Sahiwal City, Sahiwal</a></td>
                              <td>Sahiwal</td>
                            </tr>
                            <tr>
                              <th scope="row" class="text-center">19</th>
                              <td><a href="javascript:void(0)">Sargodha Medical College, Sargodha</a></td>
                              <td>Sargodha</td>
                            </tr>
                            <tr>
                              <th scope="row" class="text-center">20</th>
                              <td><a href="http://kmsmc.edu.pk/" target="_blank">Khawaja Muhammad Safdar Medical College, Sialkot</a></td>
                              <td>Sialkot</td>
                            </tr>
                          </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}