{% extends 'base.html' %}
{% load static %}
{% block title %}PPC - Services{% endblock %}
{% block content %} 
<!-- Body content starts here -->
    <section id="page-breadcrumb">
		   <div class="container">
		     <div class="row">
		       <div class="col-md-12">
		         <div class="page-breadcrumb-area">
		           <h2>PPC Services</h2>
		           <ol class="breadcrumb">
		            <li><a href="{% url 'home' %}">Home</a></li>            
                    <li class="active">Services</li>
		          </ol>
		         </div>
		       </div>
		     </div>
		   </div>
		 </section>
          <div class="container set-min-height">
            <div class="row">
                <div class="col-md-12 ser-fet">
                    <h3 class="br2">
                        PPC Services</h3>
                    <hr>

                    <div class="text-justify">
                    <b>PPC Services:</b>
                    <div class="br2"></div>
                    <ul>
                        <li>Registration Form Pharmacist</li>
                        <li>Registration Form Pharmacist (GRADUATES FROM FOREIGN UNIVERSITIES )</li>
                        <li>Registration Form Pharmacy Assistant</li>
                        <li>Registration Form Pharmacy Technician</li>
                        <li>Renewal of Registrations A & B</li>
                        <li>Duplicate Registrations A & B (Category Lost Cases)</li>
                        <li>Duplicate Registrations A & B (Damaged or Worn Out Cases)</li>
                        <li>Duplicate Registrations A & B (Change of Name)</li>
                        <li>Good Standing Letter/Certificate</li>
                        <li>Training of registered Pharmacists and Qualified Persons</li>
                    </ul>
                    
                    {% comment %} <h3 class="br2">Health Care Services</h3>
                    <div class="br2"></div>
                    Health care services are the diagnosis, treatment, and prevention of disease, illness, injury, and other physical and mental impairments in citizens. Health care services are delivered by specialists in medicine, chiropractic, dentistry, nursing, pharmacy, associated health, and other care providers. The health care services represent the efforts put in delivering primary care, secondary care and tertiary care, as well as in public health.
                    <ul class="br2 list-line-height">
                        <li><b>Preventive Care Services</b>
                        <br>
                        Preventive care refers to measures taken to prevent diseases, (or injuries) rather than curing them or treating their symptoms.<!-- <u><a href="PreventiveServices.aspx">Read more</a></u>-->
                        </li>
                        <li><b>Promotive Services</b><br>
                        These services are defined  as "The process of enabling people to increase control over their health and its determinants, and thereby improve their health". <!--<u><a href="PromotiveServices.aspx">Read more</a></u>-->
                        </li>
                        <li><b>Curative Care Services</b><br>
                        Curative care is the kind of health care traditionally oriented towards seeking a cure for an existent disease or a medical condition.<!-- <u><a href="CurativeServices.aspx">Read more</a></u>-->
                        </li>
                        <li><b>Rehabilitation Services</b><br>
                        Rehabilitative services can help people, with disabilities, to get gainfully employed and do away with reliance on others. This includes meeting the physical, psychosocial, emotional and spiritual needs of patients and their families while incorporating the nursing and rehabilitative processes. Such Services should be provided to all patients in both inpatient and outpatient settings at all levels of care. <!--<u><a href="RehabilitationServices.aspx">Read more</a></u> -->
                        </li> {% endcomment %}
                    </ul>


                    {% comment %} <h3 class="br2">Health Care Delivery System</h3>
                    <div class="br2"></div>
                    Health sector of Punjab has an extensive network of public and privately managed health infrastructure throughout the province. The Government is by far the major provider of hospital services in rural areas, and it is also the main provider of preventive care throughout the province. The public sector health delivery system is composed of four tiers:
                    <ul class="br2 list-line-height">
                        <li><b>Tertiary Care</b><br>
                        Tertiary care hospitals located in the major cities for more specialized inpatient care. <u><a href="TertiaryCare.html">Read more</a></u>
                        </li>
                    </ul>
                    <a class="br2" href="GeneralTerms.html">General Terms</a>
                    <div class="br2"></div> {% endcomment %}

                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
   